body {
    font-family: 'Poppins', sans-serif;
}

.about-donet {
    text-align: center;
    padding-top: 15%;
    padding-bottom: 5%;
    color: white;
}

h1 {
    font-size: 50px;
}

.design-link {
    text-decoration: none;
    border-radius: 8px;
    border: 14px solid tomato;
    background-color: tomato;
    color: white;
    margin-top: 100px;

}

.top-banner {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

.donete-today {
    text-align: center;
    padding-top: 5%;
}

span {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: lightgray;
    border-radius: 5px;

}

#pink {
    background-color: rgba(232, 164, 164, 0.904);
    border: 2px solid orangered;
}