body {
    font-family: 'Poppins', sans-serif;
}

.about-donet {
    text-align: center;
    padding-top: 8%;
    padding-bottom: 5%;
    color: white;
}

h1 {
    font-size: 50px;
}

p {
    font-size: 30px;
}

.design-link {
    text-decoration: none;
    border-radius: 8px;
    border: 14px solid tomato;
    background-color: tomato;
    color: white;
    margin-top: 100px;

}

.top-banner {
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;

}

.donete-today {
    text-align: center;
    padding-top: 2%;
}

span {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: lightgray;
    border-radius: 5px;

}

#pink {
    background-color: rgba(232, 164, 164, 0.904);
    border: 2px solid orangered;
}

.donet-plan {
    text-align: center;
    padding-top: 40px;
}

.flexible-container {
    display: flex;
    text-decoration: none;
}

.box-shado-1 {
    width: 40%;
    margin-left: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 20px gray;
    background-color: pink;
}

.box-shado-2 {
    width: 40%;
    margin-left: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 20px gray;
    background-color: rgb(211, 98, 22);
}

.box-shado-3 {
    width: 40%;
    margin-left: 5%;
    padding-left: 10px;
    box-shadow: 10px 10px 20px gray;
    background-color: rgb(148, 86, 96);
}

.half-width {
    width: 50%;
    padding-top: 9%;
    font-size: 45px;

}

.contact {
    background-color: lightblue;
    color: red;
    padding: 50px;
    border: none;
    text-align: center;
    margin: 7%
}

.footer {
    text-align: center;
    background-color: black;
    font-size: 25px;
    border: none;
    color: azure;
    padding: 60px;
    width: 100%;

}